.main{
    margin-top: 10%;
    margin-left: 6%
}
.mainClick{
    margin-top: 2%;
}
.first{
    margin-left:2%;
}
.tbl{
  background: white;

}
th,td
{
  border: 1px solid black;
}
.topRow{
  background-color: orange;
}
body{
    background-color: LightGray;
}
