.main{
    margin-top: 10%;
    margin-left: 6%
}
.mainClick{
    margin-top: 2%;
}
.tbl{
  background: white;

}
.topRow{
  background-color: orange;
}
body{
    background-color: LightGray;
}
